body{
    background-color: #0c0c0c;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.main{
    height: 100vh;
    width: 90%;
    display: flex;
}
.lt{
    height: 100%;
    width: 25%;
    /* background-color: grey; */
    margin: 2%;
    position: absolute;
    /* padding: 35px; */
    left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 500px;
}
.img{
    /* background-color: grey; */
    margin: 0% 2%; 
    /* position: absolute; */
    border-radius: 500px;
    height: 90%;
    width: 85%;
    border: 1px solid grey;
    background-image: url("/assets/photo.jpg");
    background-size: cover;
    /* object-fit: cover; */
    background-position: center ;
    background-repeat: no-repeat;
}
.rt{
    height: 100%;
    width: 47%;
    /* background-color: grey; */
    position: absolute;
    right: 10%;
    margin: 2%;
}
.about-text{
    margin-left: 5%;
    font-size: 1.5rem;
}
.h3{
    font-weight: 400;
}
.me{
    background-color: #0c0c0c;
    color: #FFFFFF;
    width: 7rem;
    margin: 5%;
    padding: 1% 2%;
    border-radius: 25px;
    border: 1px solid grey;
}
.bolt{
    margin: 2%;
    padding: 1%;
}
.green{
    color: #28E98C;
    font-size: 2rem;
    display: block;
    font-weight: 400;
}
.about-para{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.3rem;
    word-spacing: auto;

}
.mail-box{
    display: flex;
    border: 1px solid grey;
    margin-left: 5%;
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
}
.box{
    display: flex;
    align-items: center;
    height: 4rem;
    width: auto;
    margin: 0;
    padding: 0;
}
.icon{
    font-size: 2rem;
    color: #28E98C;   
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    text-align: center;
    align-content: center;
    margin-right: 3%;
}
.details{
    line-height: 0.4rem;
}